


<h1>
{{theSingleCelebrity.name}}
</h1>


<h4>
{{theSingleCelebrity.occupation}}
</h4>


<p>
{{theSingleCelebrity.catchphrase}}
</p>




{{!-- 
<div>
  <ul>
    {{#each celebrities}}
      <li> {{this.name}} </li>
      <li> {{this.occupation}} </li>
      <li> {{this.catchPhrase}} </li> <br>
    {{/each}}
  </ul>
</div>
 --}}
